# Browbeat httpd config to serve results on undercloud
# Installed via browbeat installer

Listen 9000
<VirtualHost *:9000>
  ServerName browbeat-results
  DocumentRoot "{{ browbeat_path }}/results"
  <Directory  "{{ browbeat_path }}/results">
    Options Indexes FollowSymLinks
    IndexOptions NameWidth=*
    AllowOverride None
    Require all granted
  </Directory>
</VirtualHost>
