#jinja2:lstrip_blocks: True
---
dashboard:
  title: IOStat
  templating:
    - name: Cloud
      query: "*"
      refresh: true
      type: query
      # - name: NodeType
      #   options:
      #     - undercloud
      #     - controller
      #     - compute
      #     - cephstorage
      #     - objectstorage
      #     - blockstorage
      #     - "*"
      #   type: custom
    - name: Node
      query: "$Cloud.*"
      refresh: true
      type: query
  time:
    from: now-1h
    to: now
  rows:
    {% include 'partials/description.yaml' %}

    {% set partial_panel = {'collapse': 'false'} %}
    {% include 'partials/iostat.yaml.j2' %}
