---
- import_playbook: baremetal-prep-virthost.yml

- import_playbook: configure-browbeat.yml

- import_playbook: baremetal-quickstart-extras.yml

- import_playbook: install-browbeat.yml

- import_playbook: disable-ssh-dns.yml

- import_playbook: undercloud-metrics.yml
- import_playbook: overcloud-metrics.yml

- import_playbook: gather-metadata.yml

- name: Run Browbeat
  hosts: undercloud
  roles:
    - browbeat/browbeat-run
#    - browbeat/browbeat-classify
