# This is the playbook used by the `quickstart.sh` script.

- import_playbook: quickstart-extras.yml

- import_playbook: configure-browbeat.yml

- import_playbook: undercloud-metrics.yml

- import_playbook: overcloud-metrics.yml

- import_playbook: install-browbeat.yml

- import_playbook: gather-metadata.yml

- name: Run Browbeat
  hosts: undercloud
  roles:
    - browbeat/browbeat-run
    - browbeat/browbeat-classify
