---
#Collect and template Metadata about the deployment

- name: Get Overcloud Image Build date
  shell: "curl -s -v -X HEAD {{ overcloud_image_url }} 2>&1 | grep '^< Date:'"
  register: build
  ignore_errors: true

- name: Determine if docker is running
  shell: docker ps | wc -l
  register: docker_ps
  delegate_to: overcloud-controller-0
  when: "'overcloud' in group_names"
  ignore_errors: True

- name: Set var for container deployment
  set_fact:
    containers: True
  when: docker_ps.stdout|int > 1
  ignore_errors: True

- name: Set fact for non-container deployment
  set_fact:
    containers: False
  when: docker_ps.stdout|int < 2
  ignore_errors: True

- name: Count nodes in Instackenv.json
  shell: "grep pm_addr {{instackenv}} | wc -l"
  register: num_nodes

- name: Make sure the results directory exists
  file: "path={{ ansible_env.HOME }}/browbeat/metadata state=directory"

- name: Template Deployment Metadata
  template:
    "src=version.json.j2 \
     dest={{ ansible_env.HOME }}/browbeat/metadata/version.json"
