{
  "name":"graphite",
  "type":"graphite",
  "url":"http://{{graphite_host}}:{{graphite_port}}/",
  "access":"proxy",
  "isDefault":true,
  "basicAuth":true,
  "basicAuthUser":"{{graphite_username}}",
  "basicAuthPassword":"{{graphite_password}}"
}