{% set panel_idx = {'value': 0} %}
{
  "dashboard": {
      "id": null,
      "title": "{{item.prefix}} - All Nodes Memory",
      "tags": [
        "{{item.prefix}}"
      ],
      "style": "dark",
      "timezone": "browser",
      "editable": true,
      "hideControls": false,
      "sharedCrosshair": false,
      "rows": [
        {
          "collapse": false,
          "editable": true,
          "height": "250px",
          "panels": [
    {% for host in groups['controller'] %}
            {
              "aliasColors": {},
              "bars": false,
              "datasource": null,
              "editable": true,
              "error": false,
              "fill": 1,
              "grid": {
                "leftLogBase": 1,
                "leftMax": null,
                "leftMin": 0,
                "rightLogBase": 1,
                "rightMax": null,
                "rightMin": null,
                "threshold1": null,
                "threshold1Color": "rgba(216, 200, 27, 0.27)",
                "threshold2": null,
                "threshold2Color": "rgba(234, 112, 112, 0.22)"
              },
    {% if panel_idx.update({'value': (panel_idx.value + 1)}) %} {% endif %}
              "id": {{panel_idx.value}},
              "isNew": true,
              "legend": {
                "alignAsTable": true,
                "avg": false,
                "current": true,
                "max": true,
                "min": true,
                "rightSide": true,
                "show": true,
                "total": false,
                "values": true
              },
              "lines": true,
              "linewidth": 2,
              "links": [],
              "nullPointMode": "connected",
              "percentage": false,
              "pointradius": 5,
              "points": false,
              "renderer": "flot",
              "seriesOverrides": [],
              "span": 12,
              "stack": true,
              "steppedLine": false,
              "targets": [
                {
                  "refId": "A",
                  "target": "alias({{item.prefix}}.{{host}}_localdomain.memory.memory-slab_unrecl, 'Slab Unrecl')"
                },
                {
                  "refId": "B",
                  "target": "alias({{item.prefix}}.{{host}}_localdomain.memory.memory-used, 'Used')"
                },
                {
                  "refId": "C",
                  "target": "alias({{item.prefix}}.{{host}}_localdomain.memory.memory-buffered, 'Buffered')"
                },
                {
                  "refId": "D",
                  "target": "alias({{item.prefix}}.{{host}}_localdomain.memory.memory-slab_recl, 'Slab Recl')"
                },
                {
                  "refId": "E",
                  "target": "alias({{item.prefix}}.{{host}}_localdomain.memory.memory-cached, 'Cached')"
                },
                {
                  "refId": "F",
                  "target": "alias({{item.prefix}}.{{host}}_localdomain.memory.memory-free, 'Free')"
                }
              ],
              "timeFrom": null,
              "timeShift": null,
              "title": "{{host}} Memory Usage",
              "tooltip": {
                "shared": true,
                "value_type": "individual"
              },
              "type": "graph",
              "x-axis": true,
              "y-axis": true,
              "y_formats": [
                "bits",
                "short"
              ]
    {% if not loop.last %}
            },
    {% else %}
            }
    {% endif %}
    {% endfor %}
          ],
          "title": "Controllers Memory Usage",
          "showTitle": true
        },

        {
          "collapse": false,
          "editable": true,
          "height": "250px",
          "panels": [
    {% for host in groups['compute'] %}
            {
              "aliasColors": {},
              "bars": false,
              "datasource": null,
              "editable": true,
              "error": false,
              "fill": 1,
              "grid": {
                "leftLogBase": 1,
                "leftMax": null,
                "leftMin": 0,
                "rightLogBase": 1,
                "rightMax": null,
                "rightMin": null,
                "threshold1": null,
                "threshold1Color": "rgba(216, 200, 27, 0.27)",
                "threshold2": null,
                "threshold2Color": "rgba(234, 112, 112, 0.22)"
              },
    {% if panel_idx.update({'value': (panel_idx.value + 1)}) %} {% endif %}
              "id": {{panel_idx.value}},
              "isNew": true,
              "legend": {
                "alignAsTable": true,
                "avg": false,
                "current": true,
                "max": true,
                "min": true,
                "rightSide": true,
                "show": true,
                "total": false,
                "values": true
              },
              "lines": true,
              "linewidth": 2,
              "links": [],
              "nullPointMode": "connected",
              "percentage": false,
              "pointradius": 5,
              "points": false,
              "renderer": "flot",
              "seriesOverrides": [],
              "span": 12,
              "stack": true,
              "steppedLine": false,
              "targets": [
                {
                  "refId": "A",
                  "target": "alias({{item.prefix}}.{{host}}_localdomain.memory.memory-slab_unrecl, 'Slab Unrecl')"
                },
                {
                  "refId": "B",
                  "target": "alias({{item.prefix}}.{{host}}_localdomain.memory.memory-used, 'Used')"
                },
                {
                  "refId": "C",
                  "target": "alias({{item.prefix}}.{{host}}_localdomain.memory.memory-buffered, 'Buffered')"
                },
                {
                  "refId": "D",
                  "target": "alias({{item.prefix}}.{{host}}_localdomain.memory.memory-slab_recl, 'Slab Recl')"
                },
                {
                  "refId": "E",
                  "target": "alias({{item.prefix}}.{{host}}_localdomain.memory.memory-cached, 'Cached')"
                },
                {
                  "refId": "F",
                  "target": "alias({{item.prefix}}.{{host}}_localdomain.memory.memory-free, 'Free')"
                }
              ],
              "timeFrom": null,
              "timeShift": null,
              "title": "{{host}} Memory Usage",
              "tooltip": {
                "shared": true,
                "value_type": "individual"
              },
              "type": "graph",
              "x-axis": true,
              "y-axis": true,
              "y_formats": [
                "bits",
                "short"
              ]
    {% if not loop.last %}
            },
    {% else %}
            }
    {% endif %}
    {% endfor %}
          ],
          "title": "Compute Nodes Memory Usage",
          "showTitle": true
        }

      ],
      "time": {
        "from": "now-1h",
        "to": "now"
      },
      "timepicker": {
        "refresh_intervals": [
          "5s",
          "10s",
          "30s",
          "1m",
          "5m",
          "15m",
          "30m",
          "1h",
          "2h",
          "1d"
        ],
        "time_options": [
          "5m",
          "15m",
          "1h",
          "6h",
          "12h",
          "24h",
          "2d",
          "7d",
          "30d"
        ]
      },
      "templating": {
        "list": []
      },
      "annotations": {
        "list": []
      },
      "schemaVersion": 8,
      "version": 0,
      "links": [
        {
          "icon": "external link",
          "tags": [
            "{{item.prefix}}"
          ],
          "type": "dashboards",
          "asDropdown": true,
          "title": "{{item.prefix}} Dashboards"
        }
      ],
      "overwrite": true
  }
}
