# Browbeat generated bug report

{% for host in groups['undercloud'] %}
---------------------------------------
| Issues for host : {{ host }}
---------------------------------------
{% for check in hostvars[host]['checks'] %}
{% if hostvars[host][check]['failed'] == true %}
Bug: {{ check }}
Description: {{ hostvars[host]['checks'][check]['description'] }}
URL: {{ hostvars[host]['checks'][check]['url'] }}
Severity: {{ hostvars[host]['checks'][check]['severity'] }}
Impact: {{ hostvars[host]['checks'][check]['impact'] }}

{% endif %}
{% endfor %}
{% endfor %}

{% for host in groups['controller'] %}
---------------------------------------
| Issues for host : {{ host }}
---------------------------------------
{% for check in hostvars[host]['checks'] %}
{% if hostvars[host][check]['failed'] == true %}
Bug: {{ check }}
Description: {{ hostvars[host]['checks'][check]['description'] }}
URL: {{ hostvars[host]['checks'][check]['url'] }}
Severity: {{ hostvars[host]['checks'][check]['severity'] }}
Impact: {{ hostvars[host]['checks'][check]['impact'] }}

{% endif %}
{% endfor %}
{% endfor %}

{% for host in groups['compute'] %}
---------------------------------------
| Issues for host : {{ host }}
---------------------------------------
{% for check in hostvars[host]['checks'] %}
{% if hostvars[host][check]['failed'] == true %}
Bug: {{ check }}
Description: {{ hostvars[host]['checks'][check]['description'] }}
URL: {{ hostvars[host]['checks'][check]['url'] }}
Severity: {{ hostvars[host]['checks'][check]['severity'] }}
Impact: {{ hostvars[host]['checks'][check]['impact'] }}

{% endif %}
{% endfor %}
{% endfor %}
