# cat /etc/systemd/system/grafana-server.service
# This is a systemd file to run this docker container under systemd.
# To make this work:
#  * place this file in /etc/systemd/system and run the commands:
#
#  systemctl daemon-reload
#  systemctl enable grafana-server
#  systemctl start grafana-server
#
[Unit]
Description=grafana-server
Requires=docker.service
After=docker.service

[Service]
Type=simple
TimeoutStartSec=5m
# systemd syntax '=-' ignore errors from return codes.
ExecStartPre=-/usr/bin/docker kill "grafana"
ExecStartPre=-/usr/bin/docker rm "grafana"
ExecStartPre=-/usr/bin/mkdir -p {{ persistent_grafana_data_path }}
ExecStartPrs=-/usr/bin/chmod 777 {{ persistent_grafana_data_path }}

ExecStart=/usr/bin/docker run --name grafana -p {{ docker_grafana_port }}:3000 -v {{ persistent_grafana_data_path }}:/var/lib/grafana {{ grafana_docker_image }}

ExecReload=-/usr/bin/docker stop "grafana"
ExecReload=-/usr/bin/docker rm "grafana"
ExecReload=/usr/bin/docker run --name grafana -p {{ docker_grafana_port }}:3000 -v {{ persistent_grafana_data_path }}:/var/lib/grafana {{ grafana_docker_image }}

ExecStop=-/usr/bin/docker stop "grafana"
ExecStop=-/usr/bin/docker rm "grafana"

Restart=always
RestartSec=30

[Install]
WantedBy=default.target
