# Tests to be compleated for the install-and-check.sh script minimal and short workloads are performed
#  to confirm functionality.
browbeat:
  results : results/
  rerun: 1
  cloud_name: {{ browbeat_cloud_name }}
elasticsearch:
  enabled: {{ elastic_enabled }}
  host: {{ elastic_host }}
  port: 9200
  regather: true
  metadata_files:
    - name: hardware-metadata
      file: metadata/hardware-metadata.json
    - name: environment-metadata
      file: metadata/environment-metadata.json
    - name: software-metadata
      file: metadata/software-metadata.json
    - name: version
      file: metadata/version.json
ansible:
  ssh_config: ansible/ssh-config
  hosts: ansible/hosts
  adjust:
    keystone_token: ansible/browbeat/adjustment-keystone-token.yml
    neutron_l3: ansible/browbeat/adjustment-l3.yml
    nova_db: ansible/browbeat/adjustment-db.yml
    workers: ansible/browbeat/adjustment-workers.yml
  grafana_snapshot: ansible/browbeat/snapshot-general-performance-dashboard.yml
  metadata: ansible/gather/site.yml
connmon:
  enabled: {{ connmon_enabled }}
  sudo: true
grafana:
  enabled: {{ grafana_enabled }}
  grafana_ip: {{ grafana_host }}
  grafana_port: 3000
  dashboards:
    - openstack-general-system-performance
  snapshot:
    enabled: false
    snapshot_compute: false
rally:
  enabled: true
  sleep_before: 5
  sleep_after: 5
  venv: /home/stack/rally-venv/bin/activate
  plugins:
    - netcreate-boot: rally/rally-plugins/netcreate-boot
    - netcreate-boot-ping: rally/rally-plugins/netcreate-boot-ping
    - subnet-router-create: rally/rally-plugins/subnet-router-create
  benchmarks:
    - name: authenticate
      enabled: true
      concurrency:
        - 2
      times: 1
      scenarios:
        - name: authentic-keystone
          enabled: true
          file: rally/authenticate/keystone-cc.yml
          sla_max_avg_duration: 6
          sla_max_seconds: 30
          sla_max_failure: 0
    - name: cinder
      enabled: true
      concurrency:
        - 2
      times: 1
      scenarios:
        - name: create-attach-volume-centos
          enabled: true
          file: rally/cinder/cinder-create-and-attach-volume-cc.yml
          sla_max_seconds: 30
          sla_max_failure: 0
    - name: keystonebasic
      enabled: false
      concurrency:
        - 2
      times: 1
      scenarios:
        - name: create-and-list-tenants
          enabled: true
          file: rally/keystonebasic/create_and_list_tenants-cc.yml
          sla_max_seconds: 30
          sla_max_failure: 0
          times: 50
    - name: neutron
      enabled: true
      concurrency:
        - 2
      times: 1
      scenarios:
        - name: create-list-network
          enabled: true
          file: rally/neutron/neutron-create-list-network-cc.yml
          sla_max_seconds: 30
          sla_max_failure: 0
    - name: nova
      enabled: true
      concurrency:
        - 2
      times: 1
      scenarios:
        - name: boot-snapshot-delete
          enabled: true
          file: rally/nova/nova-boot-snapshot-cc.yml
          image_name: cirros
          flavor_name: m1.tiny
    - name: plugins
      enabled: true
      concurrency:
        - 2
      times: 1
      scenarios:
        - name: netcreate-boot
          enabled: true
          image_name: cirros
          flavor_name: m1.tiny
          file: rally/rally-plugins/netcreate-boot/netcreate_boot.yml
          sla_max_avg_duration: 12
          sla_max_seconds: 30
          sla_max_failure: 0
