#jinja2: lstrip_blocks: True
#### OUTPUTS ####
{% if not rsyslog_forwarding or rsyslog_aggregator %}
action(
    name="send-es-prod"
    type="omelasticsearch"
    server="{{rsyslog_elasticsearch_server}}"
    serverport="{{rsyslog_elasticsearch_port}}"
    template="com-redhat-rsyslog-hier"
    searchIndex="logstash-index-pattern"
    dynSearchIndex="on"
    searchType="rsyslog"
    bulkmode="on"
    queue.type="linkedlist"
    queue.size="5000"
    queue.dequeuebatchsize="600"
    action.resumeretrycount="-1")
{% endif %}
{% if rsyslog_forwarding and not rsyslog_aggregator %}
action(type="omfwd" Target="{{rsyslog_aggregator_server}}" Port="{{rsyslog_aggregator_port}}" Protocol="tcp" Template="ViaQ_SyslogProtocol23Format")
{% endif %}
