{
  "title": "{{item.title}}",
  "visState": "{\"title\":\"{{item.title}}\",\"type\":\"markdown\",\"params\":{\"markdown\":\"{{item.markdown}}\"},\"aggs\":[],\"listeners\":{}}",
  "uiStateJSON": "{}",
  "description": "",
  "version": 1,
  "kibanaSavedObjectMeta": {
    "searchSourceJSON": "{\"query\":{\"query_string\":{\"query\":\"*\",\"analyze_wildcard\":true}},\"filter\":[]}"
  }
}
